@model InventoryListViewModel

@foreach (var i in Model.Inventories)
            {
                <div>
                    <h3>@i.ItemName</h3>
                    @i.ItemIdentifier
                    @i.Description
                    <h4>@i.Price.ToString("c")</h4>
                </div>
            }
<div page-model="@Model.PagingInfo" page-action="List"></div>